# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
**/dist

# dependencies
env/
__pycache__/

# IDEs and editors
**/.project
**/.classpath
**/.c9/
**/*.launch
**/.settings/
**/*.sublime-workspace
**/*.idea
**/.vscode/*
**/!.vscode/settings.json
**/!.vscode/tasks.json
**/!.vscode/launch.json
**/!.vscode/extensions.json

# misc

# System Files
**/.DS_Store
**/Thumbs.db

#sensitive_data
**/secret.json